/* Görev 1 */
ul {
    list-style-type: none;
  }
  #technologies .checked::before{
    content: "✅ ";
    
  }
  #technologies li::before{
    content: "⏳ ";
  }
  #technologies li:hover{
    color: red;
  }
  
  /* Görev 2 */
  .task-2::first-line{
    background-color: blue;
  }
  .task-2.bg-selection::selection{
    background-color: green;
  }
  .task-2.bg-selection.bg-first-letter::first-letter{
  background-color: red;
  }
  
  /* Görev 3 */
  ::-webkit-scrollbar {
    width: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: red; 
    border-radius: 20px; 
  }
  ::-webkit-scrollbar-track {
    background-color: blue; 
  }
  